DB_HOST=your-dev-db-host
DB_USER=your-dev-db-user
DB_PASSWORD=your-dev-db-password
DB_NAME=your-dev-db-name
DB_PORT=5432
DJANGO_SECRET_KEY=your_large_secret_cryptographic_key_for_dev_deploy_of_django
DJANGO_ALLOWED_HOST=the_dev_domain_you_will_deploy_at
