profiles {

    carnaby {

        process {
                executor = 'slurm'
                queue = 'cpu'
                clusterOptions = ''

                module = ['python/3.9.1']

                withName: run_spectral {
                    module = ['python/3.9.1']
                    executor = 'slurm'
                    clusterOptions = '--cpus-per-task 30 --mem=25G'
                    queue = 'cpu'
                }
        }

        params {
            SCRATCH_ROOT = "/mnt/shared/flash_test"
        }

        workdir = "/mnt/shared/flash_test"
        tmpdir = "/mnt/shared/flash_test/tmp"
        docker.enabled = false
    }
}
