<!DOCTYPE html>
<html>
<head>
    <title>FLASHDB</title>
    <style>
        div {
	    	border: 2px solid black;
	    	padding: 4px;
	}
	div.slim {
		border: 0;
		padding: 0;
	}
	table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
		margin-left: auto;
		margin-right: auto;
	}
	.fixed {
		position:fixed;
		top: 0;
		left: 0;
		right: 0;
	}


    </style>
</head>
<body style="background-color:#ABB2B9;">
	<div class="fixed" style="background-color:aquamarine;">
	<H1 style="text-align: center;">FLASH Database Linefinder Results</H1>
	{% load static %}
	<img src="{% static 'db_query/SKAO_ausSRC_logo_colour_white_bg.png' %}" alt="AusSRC" style="position:absolute; top:20px; right:30px;" width="200" height="100">
	<img src="{% static 'db_query/flash.jpeg' %}" alt="FLASH" style="position:absolute; top:20px; left:30px;" width="180" height="100">
	<p style="text-align: center;"> Query for SBID = {{ sbid }}, ln_mean cutoff = {{ lmean }}</p>
	<p  style="text-align: center;"> Total number of records returned: <strong> {{ num_outs }} </strong> </p>
	<p  style="text-align: left;"> <a href="{% static tarball %}" download>Download</a> the complete linefinder results + small plots in a tar archive</p>
	<p  style="text-align: left;"> <a href="{% static csv_file %}" download>Download</a> the linefinder results.dat file in a csv file</p>
	<form action=/db_query/show_csv/ method="post" target="_blank">
			{% csrf_token %}
			<input type="hidden" id="csv" name="csv" value={{ csv_file }}>
			<input type="hidden" id="sbid" name="sbid" value={{ sbid }}>
			<input type="hidden" id="lnmean" name="lnmean" value={{ lmean }}>
				OR view in new page <input type="submit" value="Full linefinder results.dat table"/>
			</form></p>
	<form action="/db_query/">
                <input type="hidden" id="session_id" name="session_id" value={{ session_id }}/>
		<input type="submit" value="Return to Main page"/>
	</form>

	</div>
	<div class="slim" style="position:relative; top: 280px; left:200px; right: 200px;">
	<table style="background-color:white; opacity=1">
	    <thead>
		<tr>
		    <th>component name</th>
		    <th>component (source) id</th>
		    <th>ra_hms_cont</th>
		    <th>dec_dms_cont</th>
		    <th>ra_dec_cont</th>
		    <th>dec_dec_cont</th>
		    <th>modenum</th>
		    <th>ln_mean value</th>
		    <th>Pointing FIELD</th>
		</tr>
	    </thead>
	    <tbody>
		{% for output in outputs %}
		<tr>
			<td>{{ output.0  }}</td>
			<td style="text-align: center;"><i>{{ output.1  }}</i></td>
			<td>{{ output.2  }}</td>
			<td>{{ output.3  }}</td>
			<td>{{ output.4  }}</td>
			<td>{{ output.5  }}</td>
			<td style="text-align: center;">{{ output.6  }}</td>
			<td style="text-align: center;">{{ output.7  }}</td>
			<td style="text-align: center;">{{ output.8  }}</td>
		</tr>
	{% empty %}
		<tr>
		    <td colspan="2">No rows found.</td>
		</tr>
		{% endfor %}
	    </tbody>
	</table>
	</div>
</body>
</html>
