[Unit]
Description=FLASH Django app
After=network.target

[Service]
User=flash
Group=www-data
UMask=007

WorkingDirectory=/home/flash/src/FLASH/django/flashdb
RuntimeDirectory=flashdb
RuntimeDirectoryMode=755

ExecStart=/usr/bin/gunicorn \
    --workers 3 \
    --bind unix:/run/flashdb/flashdb.sock \
    flashdb.wsgi:application

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target