profiles {

    carnaby {

        process {
            executor = 'slurm'
            queue = 'cpu'
            clusterOptions = ''

            module = ['python/3.9.1']

            withName: run_spectral {
                module = ['python/3.9.1']
                executor = 'slurm'
                clusterOptions = '--cpus-per-task 30 --mem=25G'
                queue = 'cpu'
            }
        }

        params {
            SCRATCH_ROOT = "/mnt/shared/flash_test"
        }

        workdir = "/mnt/shared/flash_test"
        tmpdir = "/mnt/shared/flash_test/tmp"
        docker.enabled = false
    }
    
    setonix {
        workDir = '/scratch/ja3/ger063/data/casda/'
        
        process {
            executor = 'slurm'
            queue = 'work'
            module = ['singularity/3.11.4-slurm']
            clusterOptions = '--account=ja3 --time=12:00:00'

            withname: run_spectral {
                clusterOptions = '--account=ja3 --time=12:00:00 --cpus-per-task 30 --mem=25G'
            }

        params {
            SCRATCH_ROOT = "/scratch/ja3/ger063"
            WORKDIR = "/scratch/ja3/ger063/data/casda"
        }

        process.module = 'singularity/3.11.4-slurm'
        singularity {
            enabled = true
            envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH'
        }

        docker.enabled = false
    }
}
